<h2>Hello Rorigami</h2>
<div class="columns">
    <div class="column">
        <p>
            Rorigami <i>(Rocket Origami)</i> is a small, fast, easily extendable, easy to use static website template, batteries included. Knowing the most
            basic of HTML and Markdown is all you really need. It uses the popular <a href="https://bulma.io/">Bulma</a> CSS framework
            so when opting for HTML, you are left with plenty of options to work with
        </p>
    </div>
    <div class="column">
        <img src="static/images/rorigami.png" alt="Rorigami">
    </div>
</div>

<h3>No builds required</h3>

<p>
That's right, no need to build anything, simply add content, and push your changes. Nothing more, nothing less.
</p>

<h3>But why?</h3>

<p>
    Glad you asked. In recent years, having something static which doesn't require "building" or even worse - "compiling"
    has been treated as heresy. As a result, the internet has been overflooded with thousands and thousands of tools,
    templating engines, building pipelines which not only do make the whole process slower and more counter-productive
    but they come with carrying an additional weight - setting up, learning how they all work and how to use them. Which
    in addition, makes your life even harder if you are on the move. Rorigami is trying to address that issue with plain
    simplicity. Make a change, save and move on.
</p>

<h3>Interested?</h3>

<p>I'd hope so. Head over to the <a href="#/documentation/documentation.md">documentaton</a> section and give it a go.</p>

<p>In addition Rorigami is free and open source and all contributions and improvements are welcome. Head on over to the
<a href="https://github.com/rorigami/rorigami">repository</a> and see for yourself.</p>
